altgraph                  0.17.2
certifi                   2021.10.8
charset-normalizer        2.0.11
click                     7.1.2
Flask                     2.0.3
future                    0.18.2
guidata                   1.8.0
guiqwt                    3.0.7
idna                      3.3
importlib-metadata        4.8.2
itsdangerous              2.1.0
Jinja2                    3.0.3
MarkupSafe                2.1.0
numpy                     1.21.2
pefile                    2021.9.3
Pillow                    8.1.2
pip                       21.2.4
pygame                    2.1.0
pyinstaller               4.7
pyinstaller-hooks-contrib 2021.3
pyqt-tools                1.0.0
PyQt5                     5.15.4
pyqt5-plugins             5.15.4.2.2
PyQt5-Qt5                 5.15.2
PyQt5-sip                 12.9.0
pyqt5-tools               5.15.4.3.2
python-dotenv             0.19.0
PythonQwt                 0.9.2
pywin32-ctypes            0.2.0
qt5-applications          5.15.2.2.2
qt5-tools                 5.15.2.1.2
QtPy                      1.11.2
requests                  2.27.1
scipy                     1.7.1
setuptools                39.0.1
typing_extensions         4.0.0
urllib3                   1.26.8
Werkzeug                  2.0.3
zipp                      3.6.0
